.about {
  position: relative;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  /* background: linear-gradient(rgb(65, 36, 51), black), */
  background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(96, 52, 74, 0.45)),
    url("../../../public/moon.png") center/cover no-repeat;
  background-image: url("../../../public/moon.png") center/cover no-repeat;
  background-attachment: fixed;

  /* background-attachment: fixed; */
  margin-top: 0%;
  /* margin-bottom: 5%; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  display: flex;
  justify-content: center;
  /* background: red; */
}

.about-content {
  /* background: red; */
  /* display: grid; */
  /* background: red; */
  max-width: 90vw;

  margin-top: -5%;
  /* justify-content: center; */
}

.title {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 9vh;
  margin-bottom: -1rem;
  /* margin-top: 0;
  margin-left: 20%; */
  color: white;
}

.about p {
  /* max-width: fit-content; */
  /* align-items: center; */
  color: rgb(218, 233, 252);
  padding: 2vw;
  margin-left: 10%;
  margin-right: 10%;
  word-spacing: 2px;
  line-height: 2;
  /* max-width: 45vw; */
  font-size: 14px;
  border: 2px solid rgb(122, 159, 255);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.445);
}

.about img {
  margin-top: 5%;
  /* margin-left: 5%; */

  height: 25vw;
  border-radius: 50%;
  border: 2px solid rgb(122, 159, 255);
}

.bubble {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(124, 180, 248);
  /* margin-top: -75px; */
  /* margin-left: 75px; */
  z-index: 0;
  /* opacity: 0; */
}

#bubble1 {
  left: 0rem;
  bottom: 0rem;
  animation: bubble 4s ease-out 1s infinite;
}

#bubble2 {
  left: 20rem;
  bottom: 5rem;
  animation: bubble 4s ease-out 4s infinite;
}

#bubble3 {
  right: 15rem;
  bottom: 10rem;
  animation: bubble 4s ease-out 2s infinite;
}

#bubble4 {
  right: 0rem;
  bottom: 0rem;
  animation: bubble 4s ease-out 3s infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) scale(1);
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  /* .about img {
    visibility: hidden;
  } */
}
