.contact {
  min-height: 91vh;
  /* background: rgb(63, 63, 63); */
  justify-content: center;
  align-items: center;
  display: flexbox;
  background: linear-gradient(rgba(255, 121, 177, 0.192), rgba(0, 0, 0, 0.7)),
    url("../../../public/landing.jpg") center/cover no-repeat;
}

.about h1 {
  color: white;
}
