.experience {
  min-height: 91vh;
  background: linear-gradient(rgba(81, 31, 161, 0.192), rgba(78, 78, 85, 0.774)),
    url("../../../public/earth.jpg") center/cover no-repeat;

  display: flex;
}

.experience h2 {
  color: white;
}
